<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=q, initial-scale=1.0">
    <title>Документы | Лолоуслуги</title>
    <link rel="stylesheet" href="/css/documents.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include("header") %>

    <div class="wrapped">
        <div class="main">
            <div class="main__conteiner">
                <h1>Документы и данные</h1>
                <div class="content">
                    <div class="menu">
                        <ul>
                            <li class="active">Личные данные</li>
                            <li>Транспорт</li>
                            <li>Здоровье</li>
                            <li>Недвижимость</li>
                            <li>Работа и пенсия</li>
                            <li>Льготы и выплаты</li>
                            <li>Доходы и налоги</li>
                        </ul>
                    </div>
                    <div class="blocks">
                        <div class="block person">
                            <div class="title">
                                <h3>Удостоверение граждана</h3>
                            </div>
                            <div class="id">
                                ID-CARD 8945 469935
                            </div>
                            <div class="infoFild">
                                <div class="placeholder">Ф.И.О.</div>
                                <div class="value">Lololowka Уильям Дейвисон</div>
                            </div>
                            <div class="infoFild">
                                <div class="placeholder">Пол</div>
                                <div class="value">Мужской</div>
                            </div>
                            <div class="infoFild">
                                <div class="placeholder">Гражданство</div>
                                <div class="value">Иллия</div>
                            </div>
                            <div class="infoFild">
                                <div class="placeholder">Место рождения</div>
                                <div class="value">г. Хэнфорт</div>
                            </div>
                            <div class="infoFild">
                                <div class="placeholder">Год рождения</div>
                                <div class="value">2324</div>
                            </div>
                        </div>
                        <div class="block jdb">
                            <div class="title">
                                <h3>Лицевой счёт JDB</h3>
                            </div>
                            <div class="infoFild">
                                <div class="placeholder">Номер счёта</div>
                                <div class="value">148-0993015J</div>
                            </div>
                            <div class="infoFild">
                                <div class="placeholder">Состояние счёта</div>
                                <div class="value">Активен</div>
                            </div>
                            <div class="infoFild">
                                <div class="placeholder">Требования и штрафы</div>
                                <div class="value">Отсутствуют</div>
                            </div>
                            <div class="important" style="margin-top: 35px; color: #D44242;">
                                <p>
                                    Внимание: JDBank не является финансовой организацией исполняющей банковские операции на территории РФ. Это исключительно фанатский проект. Мы не исполняем обязанностей коммерческого банка или финансовой структуры.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("footer") %>
</body>
</html>