<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Lolouslugi</title>
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <%- include("header") %>

    <div class="wrapper">
        <div class="main">
            <div class="main__selection">
                <div class="main__collection">
                    <div class="page_categories">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><link xmlns="" type="text/css" rel="stylesheet" id="dark-mode-custom-link"/><link xmlns="" type="text/css" rel="stylesheet" id="dark-mode-general-link"/><style xmlns="" lang="en" type="text/css" id="dark-mode-custom-style"/><style xmlns="" lang="en" type="text/css" id="dark-mode-native-style"/><style xmlns="" lang="en" type="text/css" id="dark-mode-native-sheet"/>
                                <path fill="none" d="M26.6079 19.9324H20.1005V26.4399C17.3681 26.6915 14.6237 26.6915 11.9033 26.4399V19.9324H5.38386C5.14418 17.212 5.14418 14.4676 5.38386 11.7352H11.9033V5.22781C14.6237 4.97615 17.3681 4.97615 20.1005 5.22781V11.7352H26.6079C26.8596 14.4676 26.8596 17.2 26.6079 19.9324Z" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>Здоровье</p>
                        </button>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><link xmlns="" type="text/css" rel="stylesheet" id="dark-mode-custom-link"/><link xmlns="" type="text/css" rel="stylesheet" id="dark-mode-general-link"/><style xmlns="" lang="en" type="text/css" id="dark-mode-custom-style"/><style xmlns="" lang="en" type="text/css" id="dark-mode-native-style"/><style xmlns="" lang="en" type="text/css" id="dark-mode-native-sheet"/>
                                <path fill="none" d="M10.4541 11.4822H23.343C27.1279 11.4822 27.995 25.6334 23.343 25.6334H8.6548C7.35636 25.6334 6.30469 24.5817 6.30469 23.2833V10.8242C6.30469 9.76075 7.01795 8.83011 8.04494 8.55515L19.4289 5.49413C20.175 5.2932 20.9094 5.85605 20.9094 6.62923V10.8947" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M21.3868 20.0255C22.198 20.0255 22.8556 19.3679 22.8556 18.5567C22.8556 17.7455 22.198 17.0879 21.3868 17.0879C20.5756 17.0879 19.918 17.7455 19.918 18.5567C19.918 19.3679 20.5756 20.0255 21.3868 20.0255Z"/>
                            </svg>
                            <p>JDBank</p>
                        </button>
                        <button>
                            <svg width="33" height="33" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="0.0002" transform="matrix(1, 0, 0, 1, 0, 0)rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.1"></g><g id="SVGRepo_iconCarrier"> <path d="M9 15C8.44771 15 8 15.4477 8 16C8 16.5523 8.44771 17 9 17C9.55229 17 10 16.5523 10 16C10 15.4477 9.55229 15 9 15Z"></path><path d="M14 16C14 15.4477 14.4477 15 15 15C15.5523 15 16 15.4477 16 16C16 16.5523 15.5523 17 15 17C14.4477 17 14 16.5523 14 16Z"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 1C10.8954 1 10 1.89543 10 3C10 3.74028 10.4022 4.38663 11 4.73244V7H6C4.34315 7 3 8.34315 3 10V20C3 21.6569 4.34315 23 6 23H18C19.6569 23 21 21.6569 21 20V10C21 8.34315 19.6569 7 18 7H13V4.73244C13.5978 4.38663 14 3.74028 14 3C14 1.89543 13.1046 1 12 1ZM5 10C5 9.44772 5.44772 9 6 9H7.38197L8.82918 11.8944C9.16796 12.572 9.86049 13 10.618 13H13.382C14.1395 13 14.832 12.572 15.1708 11.8944L16.618 9H18C18.5523 9 19 9.44772 19 10V20C19 20.5523 18.5523 21 18 21H6C5.44772 21 5 20.5523 5 20V10ZM13.382 11L14.382 9H9.61803L10.618 11H13.382Z"></path> <path d="M1 14C0.447715 14 0 14.4477 0 15V17C0 17.5523 0.447715 18 1 18C1.55228 18 2 17.5523 2 17V15C2 14.4477 1.55228 14 1 14Z"></path> <path d="M22 15C22 14.4477 22.4477 14 23 14C23.5523 14 24 14.4477 24 15V17C24 17.5523 23.5523 18 23 18C22.4477 18 22 17.5523 22 17V15Z"></path> </g></svg>
                            <p>Заказать автоматона</p>
                        </button>
                    </div>
                    <div class="page_search">
                        <img class="main_image" width="250px" src="/img/raya.png">
                        <div class="search">
                            <div class="search_bar">
                                <img class="input_image" width="40px" src="/img/raya.png">
                                <input type="text" placeholder="Поиск услуги...">
                                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.28827 11.7073L4.54102 3.41895L25.7778 13.9994L4.54102 24.5811L7.28792 16.2929L13.6886 15.4871C14.438 15.3927 15.0001 14.7554 15.0001 14.0001C15.0001 13.2447 14.438 12.6074 13.6886 12.5131L7.28827 11.7073Z" fill="#3d76f2"></path>
                                    <path d="M4.54102 3.41895L4.93121 2.63576C4.61489 2.47817 4.23481 2.52633 3.9678 2.75785C3.70079 2.98937 3.59926 3.35878 3.71045 3.69424L4.54102 3.41895ZM7.28827 11.7073L6.45771 11.9826C6.5638 12.3027 6.8444 12.5333 7.17898 12.5755L7.28827 11.7073ZM25.7778 13.9994L26.1681 14.7826C26.4651 14.6346 26.6529 14.3313 26.6528 13.9994C26.6528 13.6676 26.4651 13.3643 26.168 13.2163L25.7778 13.9994ZM4.54102 24.5811L3.71044 24.3058C3.59926 24.6413 3.7008 25.0107 3.96782 25.2422C4.23485 25.4737 4.61492 25.5219 4.93124 25.3643L4.54102 24.5811ZM7.28792 16.2929L7.17862 15.4247C6.84404 15.4669 6.56344 15.6975 6.45735 16.0176L7.28792 16.2929ZM13.6886 15.4871L13.5793 14.6189V14.6189L13.6886 15.4871ZM13.6886 12.5131L13.7979 11.6449H13.7979L13.6886 12.5131ZM3.71045 3.69424L6.45771 11.9826L8.11883 11.432L5.37158 3.14365L3.71045 3.69424ZM26.168 13.2163L4.93121 2.63576L4.15082 4.20213L25.3877 14.7826L26.168 13.2163ZM4.93124 25.3643L26.1681 14.7826L25.3876 13.2163L4.15079 23.7979L4.93124 25.3643ZM6.45735 16.0176L3.71044 24.3058L5.37159 24.8564L8.11849 16.5682L6.45735 16.0176ZM13.5793 14.6189L7.17862 15.4247L7.39721 17.161L13.7979 16.3552L13.5793 14.6189ZM14.1251 14.0001C14.1251 14.3144 13.8912 14.5797 13.5793 14.6189L13.7979 16.3552C14.9848 16.2058 15.8751 15.1964 15.8751 14.0001H14.1251ZM13.5793 13.3812C13.8912 13.4205 14.1251 13.6857 14.1251 14.0001H15.8751C15.8751 12.8037 14.9849 11.7944 13.7979 11.6449L13.5793 13.3812ZM7.17898 12.5755L13.5793 13.3812L13.7979 11.6449L7.39757 10.8392L7.17898 12.5755Z" fill="#3d76f2"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new_in_portal">
                <div class="new_in_portal__collection">
                    <p class="title">Новое на портале</p>
                    <div class="cards">
                        <div class="card purple">
                            <div class="conent">
                                <div class="text">
                                    <p>Отведите детей нафиг с нашими специалистами</p>
                                </div>
                            </div>
                        </div>
                        <div class="card red">
                            <div class="conent">
                                <div class="text">
                                    <p>Наши специалисты нечего не делали для вашей безопсности</p>
                                </div>
                            </div>
                        </div>
                        <div class="card green">
                            <div class="conent">
                                <div class="text">
                                    <p>Ещё один бессмысленный текст</p>
                                </div>
                            </div>
                        </div>
                        <div class="card yellow">
                            <div class="conent">
                                <div class="text">
                                    <p>Смысленный но бессмысленный текст</p>
                                </div>
                            </div>
                        </div>
                        <div class="card blue">
                            <div class="conent">
                                <div class="text">
                                    <p>Текст</p>
                                </div>
                            </div>
                        </div>
                        <div class="card orange">
                            <div class="conent">
                                <div class="text">
                                    <p>Текст</p>
                                </div>
                            </div>
                        </div>
                        <div class="card aqua">
                            <div class="conent">
                                <div class="text">
                                    <p>Текст</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="useful">
            <div class="useful__selection">
                <div class="useful__collection">
                    <div class="title">Полезные сервисы</div>
                    <div>
                        <div class="column_cards">
                            <div class="card aqua big" style="margin-bottom: 10px;">
                                <div class="conent">
                                    <div class="text">
                                        <p>Ютуб с кучей рекламы но зато с нормальной загрузкой роликов Лололошки</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card aqua big">
                                <div class="conent">
                                    <div class="text">
                                        <p>Ютуб без кучи рекламы но зато за 14.999$ в неделю (и зато с Лолололошкой)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="next_cards">
                            <div class="card">
                                <div class="conent">
                                    <div class="text">
                                        <p>Текст</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="conent">
                                    <div class="text">
                                        <p>Текст</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="conent">
                                    <div class="text">
                                        <p>Текст</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="conent">
                                    <div class="text">
                                        <p>Текст</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="conent">
                                    <div class="text">
                                        <p>Текст</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="conent">
                                    <div class="text">
                                        <p>Текст</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="conent">
                                    <div class="text">
                                        <p>Текст</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="conent">
                                    <div class="text">
                                        <p>Текст</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("footer") %>

    <script src="js/index.js"></script>
</body>
</html>