<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявления | Лолоуслуги</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/statements.css">
</head>
<body>
    <%- include("header") %>

    <div class="wrapped">
        <div class="main">
            <div class="main__conteiner">
                <div class="text">
                    <p class="title">Заявления</p>
                    <p>Архив</p>
                </div>
                <div class="statements"></div>
            </div>
        </div>
    </div>

    <%- include("footer") %>
</body>
</html>