<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/support.css">
    <title>Помощь | Лолоуслуги</title>
</head>
<body>
    <%- include("header") %>
    <div class="wrapper">
        <div class="main">
            <div class="main__collapse">
                <div class="main_block">
                    <div class="title">
                        <p>Возникли проблемы?</p>
                        <p>Свяжитесь с нами, мы поможем!</p>
                    </div>
                    <img src="/img/support.png" alt="">
                </div>
                <div class="main_under">
                    <p>Контакты поддержки:</p>
                    <p>Telegram: <a href="https://t.me/LolouslugiSupportBot"><span>@LolouslugiSupportBot</span></a></p>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") %>
</body>
</html>